@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{ 
    --font-family: 'Montserrat', sans-serif; 
    --white: #fafafa;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 100px;
    background-color: #0e2634;
    padding:10px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.navbar .logo img {
    width: 100%;
    max-width: 120px;
    min-width: 60px;
    max-height: 103px;
}
.menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
}

.menu ul li{
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid transparent;
    transition: 0.3s;
}
.menu ul li:hover{
    border-bottom: 1px solid var(--white);
    justify-content: center;
    align-items: center;
    height: 100%;
}
.menu ul li a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-family);
    justify-content: center;
    align-items: center;
}
